/* NavigationHeader.module.css */
.header {
    background-color: #3498db;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7%;
}

.nav {
    display: flex;
    justify-content: center;
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0 10px;
}

.navLink {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

.navLink:hover {
    font-weight: bold;
}

.activeNavLink {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.userInfo {
    margin-right: 10px;
}

.headerButton {
    font-size: 1rem;
    margin-right: 10px;
}
